# E-commerce project

## Data Cleaning

In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
sns.set()

In [2]:
data=pd.read_csv('data.csv',encoding = 'ISO-8859-1')

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [161]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [163]:
#data.InvoiceNo = data.InvoiceNo.astype('int64')

In [164]:
#Check missing value for each variable 
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [165]:
data.isnull().sum() / data.shape[0] * 100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

24 % of the customers are unknown

In [167]:
#data.Description.value_counts()
#data[data['Description'].map(len) < 100]

In [ ]:
plt.figure(figsize = (20, 15))
info = data.Description.value_counts()
plt.hist(info, bins = 50)
plt.show()

In [ ]:
# show the rows with missing values
# check out the rows with missing values
data[data.isnull().any(axis=1)].head()

In [ ]:
# Description - UPPER case to LOWER case
data['Description'] = data.Description.str.lower()

In [ ]:
data['Description']

In [ ]:
data = data.dropna()

In [ ]:
data.shape

In [ ]:
import os
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['Description'] = data['Description'].apply(lambda x: ' '.join([item for item in x.split() if item not in stop]))

In [170]:
pd.Series([j for i in data.Description.str.lower().str.split() for j in i if re.fullmatch('[a-zA-Z]*',j)])

TypeError: 'float' object is not iterable

In [ ]:
# change the invoice_date format - String to Timestamp format
data['Invoice_Date'] = pd.to_datetime(data.InvoiceDate, format='%m/%d/%Y %H:%M')

In [146]:
#drop rows with missing values
data = data.dropna()

In [147]:
# check for missing values
data.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [148]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [149]:
# remove rows with negative quantities
data = data[data.Quantity > 0]

In [171]:
data['TotalSales'] = data['Quantity'] * data['UnitPrice']

In [172]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [10]:
# create some useful features ...
data['day']=data.Invoice_Date.dt.day
data['hour']=data.Invoice_Date.dt.hour
data['month']=data.Invoice_Date.dt.month

AttributeError: 'DataFrame' object has no attribute 'Invoice_Date'

In [ ]:
#data.drop(['InvoiceDate'], axis=1, inplace=True)

In [ ]:
#data.head()

In [153]:
data.groupby(['CustomerID','Country'])['InvoiceNo'].count().nlargest(10)

CustomerID  Country
17841.0     United Kingdom    7847
14911.0     EIRE              5677
14096.0     United Kingdom    5111
12748.0     United Kingdom    4596
14606.0     United Kingdom    2700
15311.0     United Kingdom    2379
14646.0     Netherlands       2080
13089.0     United Kingdom    1818
13263.0     United Kingdom    1677
14298.0     United Kingdom    1637
Name: InvoiceNo, dtype: int64

In [154]:
data.drop(['Description'], axis=1)

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales
0,536365,85123A,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
5,536365,22752,2,12/1/2010 8:26,7.65,17850.0,United Kingdom,15.30
6,536365,21730,6,12/1/2010 8:26,4.25,17850.0,United Kingdom,25.50
7,536366,22633,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
8,536366,22632,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
9,536367,84879,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,54.08
10,536367,22745,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,12.60
11,536367,22748,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,12.60
12,536367,22749,8,12/1/2010 8:34,3.75,13047.0,United Kingdom,30.00
13,536367,22310,6,12/1/2010 8:34,1.65,13047.0,United Kingdom,9.90
14,536367,84969,6,12/1/2010 8:34,4.25,13047.0,United Kingdom,25.50
15,536367,22623,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
16,536367,22622,2,12/1/2010 8:34,9.95,13047.0,United Kingdom,19.90
17,536367,21754,3,12/1/2010 8:34,5.95,13047.0,United Kingdom,17.85
18,536367,21755,3,12/1/2010 8:34,5.95,13047.0,United Kingdom,17.85
19,536367,21777,4,12/1/2010 8:34,7.95,13047.0,United Kingdom,31.80
20,536367,48187,4,12/1/2010 8:34,7.95,13047.0,United Kingdom,31.80
21,536368,22960,6,12/1/2010 8:34,4.25,13047.0,United Kingdom,25.50
22,536368,22913,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
23,536368,22912,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
24,536368,22914,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
25,536369,21756,3,12/1/2010 8:35,5.95,13047.0,United Kingdom,17.85
26,536370,22728,24,12/1/2010 8:45,3.75,12583.0,France,90.00
27,536370,22727,24,12/1/2010 8:45,3.75,12583.0,France,90.00
28,536370,22726,12,12/1/2010 8:45,3.75,12583.0,France,45.00
29,536370,21724,12,12/1/2010 8:45,0.85,12583.0,France,10.20
...,...,...,...,...,...,...,...,...
541879,581585,22726,8,12/9/2011 12:31,3.75,15804.0,United Kingdom,30.00
541880,581585,22727,4,12/9/2011 12:31,3.75,15804.0,United Kingdom,15.00
541881,581585,16016,10,12/9/2011 12:31,0.85,15804.0,United Kingdom,8.50
541882,581585,21916,24,12/9/2011 12:31,0.42,15804.0,United Kingdom,10.08
541883,581585,84692,25,12/9/2011 12:31,0.42,15804.0,United Kingdom,10.50
541884,581585,84946,12,12/9/2011 12:31,1.25,15804.0,United Kingdom,15.00
541885,581585,21684,12,12/9/2011 12:31,0.85,15804.0,United Kingdom,10.20
541886,581585,22398,12,12/9/2011 12:31,0.39,15804.0,United Kingdom,4.68
541887,581585,23328,4,12/9/2011 12:31,3.75,15804.0,United Kingdom,15.00
541888,581585,23145,12,12/9/2011 12:31,0.95,15804.0,United Kingdom,11.40
541889,581585,22466,12,12/9/2011 12:31,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,8,12/9/2011 12:49,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,24,12/9/2011 12:49,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,24,12/9/2011 12:49,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,10,12/9/2011 12:49,7.08,13113.0,United Kingdom,70.80
541894,581587,22631,12,12/9/2011 12:50,1.95,12680.0,France,23.40
541895,581587,22556,12,12/9/2011 12:50,1.65,12680.0,France,19.80
541896,581587,22555,12,12/9/2011 12:50,1.65,12680.0,France,19.80
541897,581587,22728,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541898,581587,22727,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541899,581587,22726,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541900,581587,22730,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541901,581587,22367,8,12/9/2011 12:50,1.95,12680.0,France,15.60
541902,581587,22629,12,12/9/2011 12:50,1.95,12680.0,France,23.40
541903,581587,23256,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541904,581587,22613,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,3,12/9/2011 12:50,4.95,12680.0,France,14.85

## Exploratory Data Analysis

In [168]:
#Feature engineering

sales= data.groupby(by=['CustomerID','Country'], as_index=False)['TotalSales'].sum()

plt.subplots(figsize=(7,8))
plt.plot(sales.CustomerID, sales.TotalSales)
plt.xlabel('Customers ID')
plt.ylabel('Total Sales ($$)')
plt.title('Total sales for different Customers')
plt.show()

KeyError: 'Column not found: TotalSales'

In [174]:
data.drop(['Description'], axis=1)

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales
0,536365,85123A,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
5,536365,22752,2,12/1/2010 8:26,7.65,17850.0,United Kingdom,15.30
6,536365,21730,6,12/1/2010 8:26,4.25,17850.0,United Kingdom,25.50
7,536366,22633,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
8,536366,22632,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
9,536367,84879,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,54.08
10,536367,22745,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,12.60
11,536367,22748,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,12.60
12,536367,22749,8,12/1/2010 8:34,3.75,13047.0,United Kingdom,30.00
13,536367,22310,6,12/1/2010 8:34,1.65,13047.0,United Kingdom,9.90
14,536367,84969,6,12/1/2010 8:34,4.25,13047.0,United Kingdom,25.50
15,536367,22623,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
16,536367,22622,2,12/1/2010 8:34,9.95,13047.0,United Kingdom,19.90
17,536367,21754,3,12/1/2010 8:34,5.95,13047.0,United Kingdom,17.85
18,536367,21755,3,12/1/2010 8:34,5.95,13047.0,United Kingdom,17.85
19,536367,21777,4,12/1/2010 8:34,7.95,13047.0,United Kingdom,31.80
20,536367,48187,4,12/1/2010 8:34,7.95,13047.0,United Kingdom,31.80
21,536368,22960,6,12/1/2010 8:34,4.25,13047.0,United Kingdom,25.50
22,536368,22913,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
23,536368,22912,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
24,536368,22914,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,14.85
25,536369,21756,3,12/1/2010 8:35,5.95,13047.0,United Kingdom,17.85
26,536370,22728,24,12/1/2010 8:45,3.75,12583.0,France,90.00
27,536370,22727,24,12/1/2010 8:45,3.75,12583.0,France,90.00
28,536370,22726,12,12/1/2010 8:45,3.75,12583.0,France,45.00
29,536370,21724,12,12/1/2010 8:45,0.85,12583.0,France,10.20
...,...,...,...,...,...,...,...,...
541879,581585,22726,8,12/9/2011 12:31,3.75,15804.0,United Kingdom,30.00
541880,581585,22727,4,12/9/2011 12:31,3.75,15804.0,United Kingdom,15.00
541881,581585,16016,10,12/9/2011 12:31,0.85,15804.0,United Kingdom,8.50
541882,581585,21916,24,12/9/2011 12:31,0.42,15804.0,United Kingdom,10.08
541883,581585,84692,25,12/9/2011 12:31,0.42,15804.0,United Kingdom,10.50
541884,581585,84946,12,12/9/2011 12:31,1.25,15804.0,United Kingdom,15.00
541885,581585,21684,12,12/9/2011 12:31,0.85,15804.0,United Kingdom,10.20
541886,581585,22398,12,12/9/2011 12:31,0.39,15804.0,United Kingdom,4.68
541887,581585,23328,4,12/9/2011 12:31,3.75,15804.0,United Kingdom,15.00
541888,581585,23145,12,12/9/2011 12:31,0.95,15804.0,United Kingdom,11.40
541889,581585,22466,12,12/9/2011 12:31,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,8,12/9/2011 12:49,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,24,12/9/2011 12:49,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,24,12/9/2011 12:49,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,10,12/9/2011 12:49,7.08,13113.0,United Kingdom,70.80
541894,581587,22631,12,12/9/2011 12:50,1.95,12680.0,France,23.40
541895,581587,22556,12,12/9/2011 12:50,1.65,12680.0,France,19.80
541896,581587,22555,12,12/9/2011 12:50,1.65,12680.0,France,19.80
541897,581587,22728,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541898,581587,22727,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541899,581587,22726,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541900,581587,22730,4,12/9/2011 12:50,3.75,12680.0,France,15.00
541901,581587,22367,8,12/9/2011 12:50,1.95,12680.0,France,15.60
541902,581587,22629,12,12/9/2011 12:50,1.95,12680.0,France,23.40
541903,581587,23256,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541904,581587,22613,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,3,12/9/2011 12:50,4.95,12680.0,France,14.85

In [175]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4)
census_clusters = kmeans.fit(data)
census_clusters.cluster_centers_
census_missing['Cluster'] = census_clusters.fit_predict(census_missing[census_columns])
census_missing.Cluster.value_counts()

ValueError: could not convert string to float: 'France'

In [ ]:
gmm=mixture.GaussianMixture(3,covariance_type='full').fit(X[0])

In [9]:
data['category'] = data.Description.str.split().str[-1]

print  (data.category.value_counts())

DESIGN            25690
HOLDER            13690
RETROSPOT         13105
BOX               13003
SIGN              12255
CASES             10903
BAG                9751
SET                9108
CHRISTMAS          7900
BOTTLE             7767
DECORATION         7163
BUNTING            6239
MUG                5890
BOWL               5490
PINK               5273
POLKADOT           5134
LARGE              4824
RED                4767
SMALL              4635
HEART              4523
CANDLES            4514
PAISLEY            4333
WHITE              4175
COVER              4037
CARD               3988
TISSUES            3806
BLUE               3700
KIT                3349
SAUCER             3276
GREEN              3194
                  ...
Missing               1
FOUND                 1
check?                1
16954                 1
Classic               1
17104                 1
oops                  1
re-adjustment         1
Crushed               1
mouldy                1
ret                   1
Display               1
w/hse                 1
wet                   1
fixed                 1
C/COVER               1
wrongly               1
FBA                   1
lost                  1
lost??                1
Damages               1
jackie                1
????missing           1
order                 1
DOTCOMGIFTSHOP        1
sit                   1
delivery              1
sell                  1
sell.                 1
16963                 1
Name: category, Length: 1057, dtype: int64

In [8]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,category
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,HOLDER
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,LANTERN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,HANGER
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,BOTTLE
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,HEART.
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom,BOXES
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom,HOLDER
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,JACK
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,DOT
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,ORNAMENT
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,BEDROOM
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,KITCHEN
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom,DOLL
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom,COSY
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom,TEASPOONS
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,BLOCKS
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom,BLOCKS
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom,WORD
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom,WORD
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom,HEART
20,536367,48187,DOORMAT NEW ENGLAND,4,12/1/2010 8:34,7.95,13047.0,United Kingdom,ENGLAND
21,536368,22960,JAM MAKING SET WITH JARS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom,JARS
22,536368,22913,RED COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,FASHION
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,FASHION
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom,FASHION
25,536369,21756,BATH BUILDING BLOCK WORD,3,12/1/2010 8:35,5.95,13047.0,United Kingdom,WORD
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France,PINK
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France,RED
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France,GREEN
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France,SHEET
...,...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,12/9/2011 12:31,3.75,15804.0,United Kingdom,GREEN
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:31,3.75,15804.0,United Kingdom,RED
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,12/9/2011 12:31,0.85,15804.0,United Kingdom,SCISSOR
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,12/9/2011 12:31,0.42,15804.0,United Kingdom,STICKS
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,12/9/2011 12:31,0.42,15804.0,United Kingdom,PARASOLS
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,12/9/2011 12:31,1.25,15804.0,United Kingdom,GLASS
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,12/9/2011 12:31,0.85,15804.0,United Kingdom,BOWL
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,12/9/2011 12:31,0.39,15804.0,United Kingdom,SWALLOWS
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,12/9/2011 12:31,3.75,15804.0,United Kingdom,CRATE
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,12/9/2011 12:31,0.95,15804.0,United Kingdom,LARGE
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/2011 12:31,1.95,15804.0,United Kingdom,LIGHT
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/2011 12:49,2.95,13113.0,United Kingdom,STRAWBERY
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/2011 12:49,1.25,13113.0,United Kingdom,BEAK
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,13113.0,United Kingdom,TINS
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom,RETROSPOT
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France,BOX
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France,PARADE
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France,STRONGMAN
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France,PINK
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France,RED
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France,GREEN
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France,IVORY
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France,DESIGN
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France,BOX
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France,SPACEBOY
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,NAPKINS
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,GIRL
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,GIRL
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,PARADE
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,RETROSPOT

# Customers: when & how much they spend.