In [1]:
import pandas as pd

In [2]:
pwd

'/Users/mac/data-labs/module-1'

In [3]:
df = pd.read_csv('/Users/mac/Downloads/vehicles/vehicles.csv')

In [4]:
df1 = pd.read_csv('/Users/mac/Downloads/vehicles/vehicles_tab.txt', sep='\t')
df1

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
21,Acura,3.2CL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,16.480500,17,27,20,444.350000,2000
22,Acura,3.2CL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
23,Acura,3.2CL,2003,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,444.350000,2000
24,Acura,3.2CL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
25,Acura,3.2TL,1999,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
26,Acura,3.2TL,2000,3.2,6.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
27,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
28,Acura,3.2TL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
29,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
35923,Wallace Environmental,Wetl Testarossa,1992,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,14,11,807.909091,3700
35924,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35925,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35926,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35932,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35933,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35934,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35935,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35936,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35937,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35938,smart,fortwo cabriolet,2017,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.417429,33,38,35,251.000000,1150
35939,smart,fortwo cabriolet,2017,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35940,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35941,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35942,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35943,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35944,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35945,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35946,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [5]:
df2 = pd.read_csv('/Users/mac/Downloads/vehicles/vehicles_pipe.txt', sep='|')
df2

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
21,Acura,3.2CL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,16.480500,17,27,20,444.350000,2000
22,Acura,3.2CL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
23,Acura,3.2CL,2003,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,444.350000,2000
24,Acura,3.2CL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
25,Acura,3.2TL,1999,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
26,Acura,3.2TL,2000,3.2,6.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
27,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
28,Acura,3.2TL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
29,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
35923,Wallace Environmental,Wetl Testarossa,1992,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,14,11,807.909091,3700
35924,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35925,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35926,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35932,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35933,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35934,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35935,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35936,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35937,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35938,smart,fortwo cabriolet,2017,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.417429,33,38,35,251.000000,1150
35939,smart,fortwo cabriolet,2017,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35940,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35941,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35942,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35943,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35944,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35945,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35946,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [6]:
df.to_csv('/Users/mac/Downloads/vehicles/new_dataframe.csv',index= False) # replace le fichier

In [11]:
#os.getcwd()

In [7]:
df.to_csv('/Users/mac/Downloads/vehicles/new_dataframe.csv',sep='\t',index= False) # replace le fichier

In [8]:
data = pd.read_excel('/Users/mac/Downloads/vehicles/vehicles.xlsx')

In [10]:
df = pd.read_json('/Users/mac/Downloads/vehicles/vehicles.json', orient = "records")
df

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [11]:
df.to_json('/Users/mac/Downloads/vehicles/vehicles.json', orient= 'table') # we are pushing it as a table
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
10,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
11,Acura,2.3CL/3.0CL,1999,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,27,22,403.954545,1500
12,Acura,2.3CL/3.0CL,1999,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
13,Acura,2.3CL/3.0CL,1999,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650
14,Acura,2.5TL,1995,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
15,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
16,Acura,2.5TL/3.2TL,1996,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
17,Acura,2.5TL/3.2TL,1997,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
18,Acura,2.5TL/3.2TL,1997,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Acura,2.5TL/3.2TL,1998,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,23,20,444.350000,2000
20,Acura,2.5TL/3.2TL,1998,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,17.347895,17,22,19,467.736842,2150
21,Acura,3.2CL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,16.480500,17,27,20,444.350000,2000
22,Acura,3.2CL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
23,Acura,3.2CL,2003,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,17,26,20,444.350000,2000
24,Acura,3.2CL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,15.695714,17,27,21,423.190476,1950
25,Acura,3.2TL,1999,3.2,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
26,Acura,3.2TL,2000,3.2,6.0,Automatic 5-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
27,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
28,Acura,3.2TL,2002,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
29,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35922,Wallace Environmental,Wetl Testarossa,1991,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
35923,Wallace Environmental,Wetl Testarossa,1992,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,14,11,807.909091,3700
35924,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35925,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
35926,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
35927,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35928,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35929,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
35930,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
35931,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
35932,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35933,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35934,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35935,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35936,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35937,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35938,smart,fortwo cabriolet,2017,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.417429,33,38,35,251.000000,1150
35939,smart,fortwo cabriolet,2017,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,31,38,34,258.000000,1200
35940,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35941,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35942,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35943,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35944,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35945,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
35946,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [12]:
# conda install -c anaconda pymsql installer le package
!pip install pymysql
!pip install sqlalchemy

# de prefeence installer avec "conda", autrement on peut installer avec "pip"

Requirement already satisfied: pymysql in /anaconda3/lib/python3.7/site-packages (0.9.3)
Requirement already satisfied: sqlalchemy in /anaconda3/lib/python3.7/site-packages (1.3.1)

In [13]:
import pymysql
from sqlalchemy import create_engine

In [14]:
engine = create_engine(f'mysql+pymysql://root:password@127.0.0.1/publications')

In [23]:
data= pd.read_sql_query("select* from employee", engine)
data

       emp_id      fname minit      lname  job_id  job_lvl pub_id  hire_date
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [24]:
data.to_sql('employee2')

TypeError: to_sql() missing 1 required positional argument: 'con'

# 2 part of the day

In [25]:
data.head()

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21

In [26]:
data.head(5)

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21

In [27]:
data.tail(1)  #print the bottom

       emp_id  fname minit    lname  job_id  job_lvl pub_id  hire_date
42  Y-L77953M  Yoshi        Latimer      12       32   1389 1989-06-11

In [28]:
for i,row in data.iterrows():
    print(row.hire_date)

1991-10-26 00:00:00
1990-02-21 00:00:00
1991-07-16 00:00:00
1993-01-27 00:00:00
1989-04-21 00:00:00
1992-07-07 00:00:00
1990-01-01 00:00:00
1991-12-16 00:00:00
1990-07-24 00:00:00
1990-11-03 00:00:00
1988-08-09 00:00:00
1989-09-21 00:00:00
1993-03-19 00:00:00
1988-11-19 00:00:00
1991-05-26 00:00:00
1992-10-17 00:00:00
1994-03-11 00:00:00
1991-02-13 00:00:00
1990-06-03 00:00:00
1992-03-27 00:00:00
1989-01-09 00:00:00
1992-02-05 00:00:00
1992-12-07 00:00:00
1988-09-29 00:00:00
1990-04-13 00:00:00
1994-05-01 00:00:00
1989-03-01 00:00:00
1993-06-29 00:00:00
1989-08-01 00:00:00
1993-05-09 00:00:00
1992-05-17 00:00:00
1992-08-27 00:00:00
1993-11-29 00:00:00
1990-12-24 00:00:00
1994-01-19 00:00:00
1989-11-11 00:00:00
1993-08-19 00:00:00
1991-09-05 00:00:00
1993-10-09 00:00:00
1991-04-05 00:00:00
1988-06-19 00:00:00
1990-09-13 00:00:00
1989-06-11 00:00:00

In [29]:
data.hire_date.tail(1)

42   1989-06-11
Name: hire_date, dtype: datetime64[ns]

In [32]:
data.hire_date.tail(1) =='2019-05-23'

42    False
Name: hire_date, dtype: bool

In [33]:
data.hire_date.tail(1) =='1989-06-11'

42    True
Name: hire_date, dtype: bool

In [38]:
data.columns = [x.upper() for x in data.columns]
data

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [39]:
#convert the whole data frame to numpy
data.to_numpy()

array([['A-C71970F', 'Aria', '', 'Cruz', 10, 87, '1389',
        Timestamp('1991-10-26 00:00:00')],
       ['A-R89858F', 'Annette', '', 'Roulet', 6, 152, '9999',
        Timestamp('1990-02-21 00:00:00')],
       ['AMD15433F', 'Ann', 'M', 'Devon', 3, 200, '9952',
        Timestamp('1991-07-16 00:00:00')],
       ['ARD36773F', 'Anabela', 'R', 'Domingues', 8, 100, '0877',
        Timestamp('1993-01-27 00:00:00')],
       ['CFH28514M', 'Carlos', 'F', 'Hernadez', 5, 211, '9999',
        Timestamp('1989-04-21 00:00:00')],
       ['CGS88322F', 'Carine', 'G', 'Schmitt', 13, 64, '1389',
        Timestamp('1992-07-07 00:00:00')],
       ['DBT39435M', 'Daniel', 'B', 'Tonini', 11, 75, '0877',
        Timestamp('1990-01-01 00:00:00')],
       ['DWR65030M', 'Diego', 'W', 'Roel', 6, 192, '1389',
        Timestamp('1991-12-16 00:00:00')],
       ['ENL44273F', 'Elizabeth', 'N', 'Lincoln', 14, 35, '0877',
        Timestamp('1990-07-24 00:00:00')],
       ['F-C16315M', 'Francisco', '', 'Chang', 4, 227, '9952',
        Timestamp('1990-11-03 00:00:00')],
       ['GHT50241M', 'Gary', 'H', 'Thomas', 9, 170, '0736',
        Timestamp('1988-08-09 00:00:00')],
       ['H-B39728F', 'Helen', '', 'Bennett', 12, 35, '0877',
        Timestamp('1989-09-21 00:00:00')],
       ['HAN90777M', 'Helvetius', 'A', 'Nagy', 7, 120, '9999',
        Timestamp('1993-03-19 00:00:00')],
       ['HAS54740M', 'Howard', 'A', 'Snyder', 12, 100, '0736',
        Timestamp('1988-11-19 00:00:00')],
       ['JYL26161F', 'Janine', 'Y', 'Labrune', 5, 172, '9901',
        Timestamp('1991-05-26 00:00:00')],
       ['KFJ64308F', 'Karin', 'F', 'Josephs', 14, 100, '0736',
        Timestamp('1992-10-17 00:00:00')],
       ['KJJ92907F', 'Karla', 'J', 'Jablonski', 9, 170, '9999',
        Timestamp('1994-03-11 00:00:00')],
       ['L-B31947F', 'Lesley', '', 'Brown', 7, 120, '0877',
        Timestamp('1991-02-13 00:00:00')],
       ['LAL21447M', 'Laurence', 'A', 'Lebihan', 5, 175, '0736',
        Timestamp('1990-06-03 00:00:00')],
       ['M-L67958F', 'Maria', '', 'Larsson', 7, 135, '1389',
        Timestamp('1992-03-27 00:00:00')],
       ['M-P91209M', 'Manuel', '', 'Pereira', 8, 101, '9999',
        Timestamp('1989-01-09 00:00:00')],
       ['M-R38834F', 'Martine', '', 'Rance', 9, 75, '0877',
        Timestamp('1992-02-05 00:00:00')],
       ['MAP77183M', 'Miguel', 'A', 'Paolino', 11, 112, '1389',
        Timestamp('1992-12-07 00:00:00')],
       ['MAS70474F', 'Margaret', 'A', 'Smith', 9, 78, '1389',
        Timestamp('1988-09-29 00:00:00')],
       ['MFS52347M', 'Martin', 'F', 'Sommer', 10, 165, '0736',
        Timestamp('1990-04-13 00:00:00')],
       ['MGK44605M', 'Matti', 'G', 'Karttunen', 6, 220, '0736',
        Timestamp('1994-05-01 00:00:00')],
       ['MJP25939M', 'Maria', 'J', 'Pontes', 5, 246, '1756',
        Timestamp('1989-03-01 00:00:00')],
       ['MMS49649F', 'Mary', 'M', 'Saveley', 8, 175, '0736',
        Timestamp('1993-06-29 00:00:00')],
       ['PCM98509F', 'Patricia', 'C', 'McKenna', 11, 150, '9999',
        Timestamp('1989-08-01 00:00:00')],
       ['PDI47470M', 'Palle', 'D', 'Ibsen', 7, 195, '0736',
        Timestamp('1993-05-09 00:00:00')],
       ['PHF38899M', 'Peter', 'H', 'Franken', 10, 75, '0877',
        Timestamp('1992-05-17 00:00:00')],
       ['PMA42628M', 'Paolo', 'M', 'Accorti', 13, 35, '0877',
        Timestamp('1992-08-27 00:00:00')],
       ['POK93028M', 'Pirkko', 'O', 'Koskitalo', 10, 80, '9999',
        Timestamp('1993-11-29 00:00:00')],
       ['PSA89086M', 'Pedro', 'S', 'Afonso', 14, 89, '1389',
        Timestamp('1990-12-24 00:00:00')],
       ['PSP68661F', 'Paula', 'S', 'Parente', 8, 125, '1389',
        Timestamp('1994-01-19 00:00:00')],
       ['PTC11962M', 'Philip', 'T', 'Cramer', 2, 215, '9952',
        Timestamp('1989-11-11 00:00:00')],
       ['PXH22250M', 'Paul', 'X', 'Henriot', 5, 159, '0877',
        Timestamp('1993-08-19 00:00:00')],
       ['R-M53550M', 'Roland', '', 'Mendel', 11, 150, '0736',
        Timestamp('1991-09-05 00:00:00')],
       ['RBM23061F', 'Rita', 'B', 'Muller', 5, 198, '1622',
        Timestamp('1993-10-09 00:00:00')],
       ['SKO22412M', 'Sven', 'K', 'Ottlieb', 5, 150, '1389',
        Timestamp('1991-04-05 00:00:00')],
       ['TPO55093M', 'Timothy', 'P', "O'Rourke", 13, 100, '0736',
        Timestamp('1988-06-19 00:00:00')],
       ['VPA30890F', 'Victoria', 'P', 'Ashworth', 6, 140, '0877',
        Timestamp('1990-09-13 00:00:00')],
       ['Y-L77953M', 'Yoshi', '', 'Latimer', 12, 32, '1389',
        Timestamp('1989-06-11 00:00:00')]], dtype=object)

In [83]:
import numpy as np
df = pd.DataFrame({'one': pd.Series(np.random.random(3), index= ['a', 'b', 'c']),
                   'two': pd.Series(np.random.random(4), index= ['a', 'b', 'c', 'd']),
                   'three' :pd.Series(np.random.random(3), index= [ 'b', 'c', 'd'])
                  })
df

        one       two     three
a  0.484939  0.623577       NaN
b  0.749818  0.734924  0.408376
c  0.772440  0.499324  0.162623
d       NaN  0.326294  0.340693

In [82]:
row = df.iloc[1]
column = df.two
print(row)

one      0.019408
two      0.535467
three    0.230493
Name: b, dtype: float64

In [52]:
df

        one       two     three
a  0.295931  0.485679       NaN
b  0.019408  0.535467  0.230493
c  0.940255  0.901919  0.941242
d       NaN  0.550130  0.483616

In [81]:
df+ row # adds each elment of the row to each column of the dataframe

        one       two     three
a  0.315338  1.021146       NaN
b  0.038816  1.070934  0.460986
c  0.959662  1.437386  1.171735
d       NaN  1.085597  0.714109

In [80]:
df1 = df+row
df1-(df1.iloc[1]/2)==df

     one    two  three
a   True   True  False
b   True   True   True
c   True   True  False
d  False  False   True

In [55]:
df2 = df1

In [56]:
df2.add(row)

        one       two     three
a  0.334746  1.556613       NaN
b  0.058223  1.606401  0.691480
c  0.979070  1.972853  1.402228
d       NaN  1.621064  0.944602

In [58]:
df2['four'] = 'blabla'
df2

        one       two     three    four
a  0.315338  1.021146       NaN  blabla
b  0.038816  1.070934  0.460986  blabla
c  0.959662  1.437386  1.171735  blabla
d       NaN  1.085597  0.714109  blabla

In [60]:
df3= df2.copy() # we should copy the dataframe and not modify directly in the dataframe !!!!
#create dataframe, copy it, modify the copy, and merge the two
df3['six']= 'buagaga'

In [61]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [64]:
for i in df.index:
    print (df.loc[i])

one      0.295931
two      0.485679
three         NaN
Name: a, dtype: float64
one      0.019408
two      0.535467
three    0.230493
Name: b, dtype: float64
one      0.940255
two      0.901919
three    0.941242
Name: c, dtype: float64
one           NaN
two      0.550130
three    0.483616
Name: d, dtype: float64

In [69]:
df.iloc[:3] # iloc pour lesindex, only for integers 
df.loc[:'b']# for the name of the rows
#df.ix['b'] # is no more on python, n'est plus utilisé

        one       two     three
a  0.295931  0.485679       NaN
b  0.019408  0.535467  0.230493

In [73]:
df+df2 # it can add integers and strings

  four       one     three       two
a  NaN  0.611269       NaN  1.506825
b  NaN  0.058223  0.691480  1.606401
c  NaN  1.899917  2.112977  2.339305
d  NaN       NaN  1.197725  1.635727

In [75]:
df.sub(df1)

  four       one     three       two
a  NaN -0.019408       NaN -0.535467
b  NaN -0.019408 -0.230493 -0.535467
c  NaN -0.019408 -0.230493 -0.535467
d  NaN       NaN -0.230493 -0.535467

In [84]:
df>df1

     one    two  three
a   True  False  False
b   True  False  False
c  False  False  False
d  False  False  False

In [85]:
df.ne(df2)

   four   one  three   two
a  True  True   True  True
b  True  True   True  True
c  True  True   True  True
d  True  True   True  True

In [87]:
df.le(df2)

    four    one  three   two
a  False  False  False  True
b  False  False   True  True
c  False   True   True  True
d  False  False   True  True

In [88]:
df.all() # checks if the values are empty

one      True
two      True
three    True
dtype: bool

In [92]:
df.isna() #checks if is not a number

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [90]:
if np.inf:
    print('yes')

yes

In [91]:
np.inf*np.inf==np.inf

True

In [96]:
df[['two', 'two']]

        two       two
a  0.623577  0.623577
b  0.734924  0.734924
c  0.499324  0.499324
d  0.326294  0.326294

In [98]:
df[df['one']>0.5]

        one       two     three
b  0.749818  0.734924  0.408376
c  0.772440  0.499324  0.162623

In [105]:
df[~(df.one>0.5)] # ~ = not 
# ou 
(~(df==df1))==(df!=df1)

    one   two  three
a  True  True   True
b  True  True   True
c  True  True   True
d  True  True   True

In [106]:
df.isna() # to verify is we have NAN value

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [107]:
df.isna().sum()/df.shape[0]

one      0.25
two      0.00
three    0.25
dtype: float64

In [109]:
df.shape

(4, 3)

In [110]:
df.size

12

In [111]:
# to describe the dataframes, dataframe is a class
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
one      3 non-null float64
two      4 non-null float64
three    3 non-null float64
dtypes: float64(3)
memory usage: 288.0+ bytes

In [112]:
df.shape

(4, 3)

In [113]:
df.size

12

In [116]:
df.describe()
# transpose
df.describe().T

,count,mean,std,min,25%,50%,75%,max
one,3.0,0.669066,0.159859,0.484939,0.617378,0.749818,0.761129,0.772440
two,4.0,0.546030,0.175271,0.326294,0.456067,0.561451,0.651414,0.734924
three,3.0,0.303897,0.126941,0.162623,0.251658,0.340693,0.374534,0.408376

# Lambda function

In [118]:
# in a function we create and which disappear after we used it
data

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [120]:
#if we want only verify this
data[data.JOB_LVL>100]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [124]:
#we create then a function
def is_high(x):
    return x>100

data[data["JOB_LVL"].apply(is_high)]

# create a lambda function
data[data["JOB_LVL"].apply(lambda x:x>100)]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [128]:
data[data.apply(lambda x:(x.JOB_LVL+x.JOB_ID)>100, axis=1)]

       EMP_ID      FNAME MINIT      LNAME  JOB_ID  JOB_LVL PUB_ID  HIRE_DATE
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13

In [130]:
square= lambda x:x**2
square(5)
# the same as
def square_fun(x):
    return x**2
square_fun(5)

25

In [131]:
summ = lambda a,b: a+b
summ('a','b')

'ab'

In [135]:
div= lambda x,y: x/y if (y!=0) else 0

print(div(10,3))
print(div(10,0))

3.3333333333333335
0

In [145]:
def generate_range(lower):
    return lambda upper: range(lower,upper)
custom_range=generate_range(1)
print(custom_range(5))

range(1, 5)

In [146]:
[x for x in custom_range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
[[x for x in custom_range(i)] for i in range(3,6)]

[[1, 2], [1, 2, 3], [1, 2, 3, 4]]

In [152]:
[square(x) for x in range(6)]

[0, 1, 4, 9, 16, 25]

In [154]:
string= ['AC/DC', 'Metallica','Queen', 'System-of-a-Down']
[(lambda x: x.replace('-', ' ')) (x) for x in string]

['AC/DC', 'Metallica', 'Queen', 'System of a Down']

In [155]:
last= lambda x:x[-1]
last(string)

'System-of-a-Down'

In [156]:
sorted(string)

['AC/DC', 'Metallica', 'Queen', 'System-of-a-Down']

In [158]:
sorted(string, reverse=True)

['System-of-a-Down', 'Queen', 'Metallica', 'AC/DC']